<form class="sample-form">
    <mat-form-field class="name-full-width">
      <mat-label>Title</mat-label>
      <input matInput required placeholder="Ex. Shell Company">
    </mat-form-field>

    <mat-form-field class="name-full-width">
        <mat-label>Description</mat-label>
        <input matInput required placeholder="Ex. Developer">
      </mat-form-field>

      <mat-form-field class="name-full-width">
        <mat-label>Department/Category</mat-label>
        <input matInput required placeholder="Ex. CSE">
      </mat-form-field>

      <mat-form-field class="name-full-width">
        <mat-label>Submitted by</mat-label>
        <input matInput required placeholder="Ex.R Singh"> 
      </mat-form-field>
        
      <mat-form-field class="date-ob">
        <mat-label>Submission Date</mat-label>
        <input matInput type='date'>
      </mat-form-field>

      <button mat-raised-button color="primary">Submit</button>  
      
    
  </form>

  <div style="background-image: url('./images/Outlook-icwrf4ut.png');"></div>

